/*!
 * Home Page: https://github.com/pponec/demo-ajax
 * License: Pavel Ponec, Apache License, Version 2.0
 */

@import "bootstrap.css";

body { margin: 5px 20px; background-color: #f3f6f7;}
h1, h2 { color: SteelBlue;}
ul { width: 500px; margin-top: 2em;}
.subtitle{ font-size: 10px; color: silver;}
.result { height: 120px; margin: 30px 0;}
.out { white-space: pre-wrap; display: inline; margin-left: 20px;}
.out span { background-color: yellow;}
.out .error { background-color: white; color: red;}
.footer, .footer a { color: silver; font-style: italic;}
.grayscale { filter: grayscale(100%); -webkit-filter: grayscale(100%); }